* {
    margin: 0;
}


@keyframes animatedCube {
    0% {
        background-size: 100%, 100%, 100vmax;
        background-position: 0vmin 0vmin, 0vmin -100vmin, 0vmin 0vmin;
    }

    50% {
        background-size: 100%, 100%, 110vmax;
        background-position: 0vmin 50vmin, 0vmin -50vmin, 0vmin 0vmin;
    }

    100% {
        background-size: 100%, 100%, 100vmax;
        background-position: 0vmin 100vmin, 0vmin 0vmin, 0vmin 0vmin;
    }
}

body {
    background:
        url("Img/fon3_1.png"),
        url("Img/fon3_1.png"),
        url("Img/fon1.jpeg");
    background-repeat: repeat-x;
    background-size: cover;
    background-repeat: repeat-x, repeat-x, no-repeat;
    animation-iteration-count: infinite;

    animation: animatedCube 15s linear infinite;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



.overlay {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.btn-restart {
    width: 250px;
    height: 200px;
    border-radius: 30px;
    background-color: rgb(251, 248, 61);
    font-size: 55px;
    font-weight: 600;
    color: blue;
    box-shadow: 0px 2px 10px 10px royalblue;
    cursor: pointer;
    user-select: none;
}

.grid {
    background: rgb(3, 3, 73);
    padding: 0.5vmin;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 0.5vmin;
    /* z-index: -1; */
    position: absolute;
}

.grid>div {
    height: 4vmin;
    width: 4vmin;

    background-color: rgba(128, 166, 166, 0.2);
    border-radius: 0.3vmin;

}

.next .O,
.grid .O {
    background-color: blueviolet;
}

.next .J,
.grid .J {
    background-color: yellow;
}

.next .L,
.grid .L {
    background-color: blue;
}

.next .S,
.grid .S {
    background-color: greenyellow;
}

.next .Z,
.grid .Z {
    background-color: pink;
}

.next .T,
.grid .T {
    background-color: red;
}

.next .I,
.grid .I {
    background-color: orange;
}

.next {
    position: absolute;
    top: 0vmin;
    background: rgb(3, 3, 73);
    padding: 0.5vmin;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5vmin;
    justify-content: center;
    color: rgba(240, 248, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.0);
}

.next>div {
    height: min(4vh, 7vh);
    width: min(4vh, 7vh);

    opacity: 0.7;
    background-color: rgba(128, 166, 166, 0.2);
    border-radius: 0.3vmin;

}

.control-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16vmin;
    width: 20vmin;
    border-radius: 5vmin;
    color: rgba(240, 248, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 4vmin;
    user-select: none;
}

.grid-container {
    display: grid;
    gap: 5vmin;
    vertical-align: middle;
}

.score-level {
    position: absolute;
    top: 0vmin;
    left: 0vmin;
    font-size: 4vmin;
    color: rgba(240, 248, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.0);
    user-select: none;
}

#sound {
    color: rgba(240, 248, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
}

#mp3 {
    width: 4vmin*4;
    bottom: 0vmin;
    position: absolute;
}

.grid-container-left {
    left: 0vmin;
    bottom: 0vmin;
    position: absolute;
}

.grid-container-right {
    right: 0vmin;
    bottom: 0vmin;
    position: absolute;
}

#scoreovervay {
    background-color: gold;
    color: blue;
}

#tablescore {

    background-color: blue;
    color: gold;
}